<div id="<%= dom_id movie%>">
  <h2><%= movie.title %></h2>
  <p><%= movie.description %></p>
  <p>Year: <%= movie.year %></p>
  <p>Director: <%= movie.director %></p>
  <p>Genre: <%= movie.genre %></p>
</div>
